<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuerySamples.Properties.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuerySamples.Properties.Properties>
            <setting name="NorthwindConnection" serializeAs="String">
                <value>Data Source=(LocalDb)\Projects2016;AttachDbFilename=D:\data\Northwind.mdf;Initial Catalog=Northwind;Integrated Security=True</value>
            </setting>
        </QuerySamples.Properties.Properties>
    </userSettings>
</configuration>